@model IEnumerable<SOF.Models.AnswersModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.yesVote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.noVote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCorrectAnsw)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionId)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yesVote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noVote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrectAnsw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
